*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(3, 144, 144);
    font-family: Arial, Helvetica, sans-serif;
}

body > h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius:0px 0px 10px 10px ;
    color: white;
}

.principal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 8px 8px 9px 2px rgba(0, 0, 0, 0.2);
}

.principal > h1{
    text-align: center;
}

.principal > p{
    margin-left: 15px;
    margin-top: 20px;
}

.start{
    background-color: rgb(189, 189, 189);
}

#btn{
    margin-top: 20px;
    margin-left: 15px;
    width: 100px;
}